# bat
*.bat

# log
/log
log/
/og/
*.log
*.tlog

# bin
/bin/
/bin
bin/
*/*.tlog

# debug 
/debug
debug/
/debug/

#Debug
/Debug

# bulid 
/bulid

# obj
/obj
*.obj

# visual studio
*.sln
*.vcxproj
*.user
*.sdf
*.exe
*.idb
*.pdb
*.suo
*.filters
*.opensdf 
*.v12
*.v12.suo

# code blocks
*.cdb
*.depend
*.layout